# 2024-08-04 23:14:32 by RouterOS 7.15.2
# software id = W4TN-GB0L
# model = RBD52G-5HacD2HnD
# serial number = HG409MY24ZZ

/interface bridge
add admin-mac=D4:01:C3:2C:B3:32 auto-mac=no comment=defconf name=bridge \
    vlan-filtering=yes
/interface wireless
set [ find default-name=wlan2 ] band=5ghz-a/n/ac channel-width=\
    20/40/80mhz-XXXX country=ukraine disabled=no distance=indoors frequency=\
    auto installation=indoor mode=ap-bridge ssid=Ghost2 wireless-protocol=\
    802.11
/interface ethernet
set [ find default-name=ether1 ] mac-address=D4:6E:0E:A9:8A:BB
/interface wireguard
add listen-port=13231 mtu=1420 name=wg-home-vpn
add listen-port=19968 mtu=1420 name=wg-proton
/interface vlan
add interface=bridge name=vlan_iot vlan-id=20
add interface=bridge name=vlan_server vlan-id=30
add interface=bridge name=vlan_trusted vlan-id=10
add interface=bridge name=vlan_vpn vlan-id=40
/interface wireless
add disabled=no mac-address=D6:01:C3:2C:B3:37 master-interface=wlan2 name=\
    wlan-vpn ssid=ghost-vpn vlan-id=40 vlan-mode=use-tag wds-default-bridge=\
    bridge wps-mode=disabled
/disk
set slot1 media-interface=bridge media-sharing=yes slot=slot1 smb-sharing=yes \
    smb-user=guest
set slot2 media-interface=bridge media-sharing=yes slot=slot2 smb-sharing=yes \
    smb-user=guest
set slot3 media-interface=bridge media-sharing=yes slot=slot3 smb-sharing=yes \
    smb-user=guest
set slot4 media-interface=bridge media-sharing=yes slot=slot4 smb-sharing=yes \
    smb-user=guest
set slot5 media-interface=bridge media-sharing=yes slot=slot5 smb-sharing=yes \
    smb-user=guest
set slot6 media-interface=bridge media-sharing=yes slot=slot6 smb-sharing=yes \
    smb-user=guest
set slot7 media-interface=bridge media-sharing=yes slot=slot7 smb-sharing=yes \
    smb-user=guest
set slot8 media-interface=bridge media-sharing=yes slot=slot8 smb-sharing=yes \
    smb-user=guest
set slot9 media-interface=bridge media-sharing=yes slot=slot9 smb-sharing=yes \
    smb-user=guest
set slot10 media-interface=bridge media-sharing=yes slot=slot10 smb-sharing=\
    yes smb-user=guest
set slot11 media-interface=bridge media-sharing=yes slot=slot11 smb-sharing=\
    yes smb-user=guest
set slot12 media-interface=bridge media-sharing=yes slot=slot12 smb-sharing=\
    yes smb-user=guest
set slot13 media-interface=bridge media-sharing=yes slot=slot13 smb-sharing=\
    yes smb-user=guest
set slot14 media-interface=bridge media-sharing=yes slot=slot14 smb-sharing=\
    yes smb-user=guest
set slot15 media-interface=bridge media-sharing=yes slot=slot15 smb-sharing=\
    yes smb-user=guest
set slot16 media-interface=bridge media-sharing=yes slot=slot16 smb-sharing=\
    yes smb-user=guest
set slot17 media-interface=bridge media-sharing=yes slot=slot17 smb-sharing=\
    yes smb-user=guest
/interface list
add comment=defconf name=WAN
add comment=defconf name=LAN
/interface wireless security-profiles
set [ find default=yes ] authentication-types=wpa-psk,wpa2-psk comment=\
    defconf disable-pmkid=yes mode=dynamic-keys supplicant-identity=MikroTik
add authentication-types=wpa-psk,wpa2-psk mode=dynamic-keys name=server \
    supplicant-identity=MikroTik
add authentication-types=wpa-psk,wpa2-psk mode=dynamic-keys name=iot \
    supplicant-identity=MikroTik
/interface wireless
add disabled=no mac-address=D6:01:C3:2C:B3:38 master-interface=wlan2 name=\
    wlan-server security-profile=server ssid=ghost-server vlan-id=30 \
    vlan-mode=use-tag wds-default-bridge=bridge wps-mode=disabled
set [ find default-name=wlan1 ] band=2ghz-b/g/n channel-width=20/40mhz-XX \
    disabled=no distance=indoors frequency=auto installation=indoor mode=\
    ap-bridge security-profile=iot ssid=ghost-iot wireless-protocol=802.11
/ip pool
add name=dhcp ranges=192.168.0.10-192.168.0.254
add name=trusted_pool ranges=192.168.10.10-192.168.10.254
add name=iot_pool ranges=192.168.20.10-192.168.20.254
add name=server_pool ranges=192.168.30.10-192.168.30.254
add name=vpn_pool ranges=192.168.40.10-192.168.40.250
/ip dhcp-server
add address-pool=dhcp interface=bridge name=defconf
add address-pool=trusted_pool interface=vlan_trusted name=trusted_dhcp
add address-pool=iot_pool interface=vlan_iot name=iot_dhcp
add address-pool=server_pool interface=vlan_server name=server_dhcp
add address-pool=vpn_pool interface=vlan_vpn name=dhcp_vpn
/routing table
add fib name=vpn-route
/certificate settings
set crl-download=yes crl-use=yes
/disk settings
set auto-media-interface=bridge auto-media-sharing=yes auto-smb-sharing=yes
/interface bridge port
add bridge=bridge comment=defconf interface=ether2
add bridge=bridge comment=defconf interface=ether3
add bridge=bridge comment=defconf interface=ether4
add bridge=bridge comment=defconf interface=ether5
add bridge=bridge interface=wlan1 pvid=20
add bridge=bridge interface=wlan2 pvid=10
add bridge=bridge interface=wlan-vpn
add bridge=bridge interface=wlan-server
add bridge=bridge interface=*F
/ip neighbor discovery-settings
set discover-interface-list=LAN
/interface bridge vlan
add bridge=bridge comment=trusted tagged=bridge vlan-ids=10
add bridge=bridge comment=iot tagged=bridge vlan-ids=20
add bridge=bridge comment=server tagged=bridge,wlan-server vlan-ids=30
add bridge=bridge comment=vpn-vlan tagged=bridge,wlan-vpn vlan-ids=40
/interface list member
add comment=defconf interface=bridge list=LAN
add interface=lte1 list=WAN
add interface=ether1 list=WAN
add interface=wg-home-vpn list=LAN
add interface=vlan_trusted list=LAN
add interface=vlan_server list=LAN
add interface=vlan_iot list=LAN
add interface=vlan_vpn list=LAN
/interface wireguard peers
add allowed-address=192.168.2.0/24 interface=wg-home-vpn name=iphone-sasha \
    private-key=REDACTED public-key=REDACTED
add allowed-address=0.0.0.0/0 endpoint-address=89.45.4.2 endpoint-port=51820 \
    interface=wg-proton name=proton public-key=REDACTED
/ip address
add address=192.168.0.1/24 comment=defconf interface=bridge network=\
    192.168.0.0
add address=192.168.2.1/24 comment=wireguard interface=wg-home-vpn network=\
    192.168.2.0
add address=192.168.10.1/24 comment=trusted interface=vlan_trusted network=\
    192.168.10.0
add address=192.168.20.1/24 comment=iot interface=vlan_iot network=\
    192.168.20.0
add address=192.168.30.1/24 comment=server interface=vlan_server network=\
    192.168.30.0
add address=192.168.40.1/24 comment=vpn interface=vlan_vpn network=\
    192.168.40.0
add address=10.2.0.2 interface=wg-proton network=10.2.0.2
/ip dhcp-client
add comment=defconf interface=ether1
add default-route-distance=2 interface=lte1
/ip dhcp-server lease
add address=192.168.30.10 comment="PI Server Static IP" mac-address=\
    D8:3A:DD:A5:A1:2C server=server_dhcp
/ip dhcp-server network
add address=192.168.0.0/24 comment=defconf dns-server=192.168.0.1 gateway=\
    192.168.0.1 netmask=24


add address=192.168.10.0/24 comment=trusted dns-server=192.168.0.1 gateway=\
    192.168.10.1
add address=192.168.20.0/24 comment=iot dns-server=192.168.0.1 gateway=\
    192.168.20.1
add address=192.168.30.0/24 comment=server dns-server=192.168.0.1 gateway=\
    192.168.30.1
add address=192.168.40.0/24 comment=vpn dns-server=10.2.0.1,192.168.0.1 \
    gateway=192.168.40.1
/ip dns
set allow-remote-requests=yes servers=8.8.8.8
/ip dns static
add address=192.168.0.1 comment=defconf name=router.lan
add address=192.168.30.10 name=pi.lan
add address=192.168.30.10 name=pi.home
add address=192.168.0.1 name=router.home
add address=192.168.0.1 name=microtik.home
add address=192.168.1.1 name=lte.lan
add address=192.168.1.1 name=lte.home
add address=192.168.1.1 name=zte.home
add address=192.168.1.1 name=zte.lan
add address=192.168.30.10 comment="PI HOST" regexp=".*\\.pi\\.home"
add address=10.2.0.2 comment="VPN DNS Server" name=vpn-dns.local
/ip firewall filter
add action=accept chain=forward in-interface=vlan_vpn out-interface=wg-proton
add action=accept chain=forward in-interface=wg-proton out-interface=vlan_vpn
add action=accept chain=input comment="Allow Wireguard" dst-port=13231-13232 \
    protocol=udp
add action=accept chain=forward comment=InWg in-interface=wg-home-vpn
add action=accept chain=forward comment=OutWg out-interface=wg-home-vpn
add action=accept chain=input comment=\
    "defconf: accept established,related,untracked" connection-state=\
    established,related,untracked
add action=drop chain=input comment="defconf: drop invalid" connection-state=\
    invalid
add action=accept chain=input comment="defconf: accept ICMP" protocol=icmp
add action=accept chain=input comment=\
    "defconf: accept to local loopback (for CAPsMAN)" dst-address=127.0.0.1
add action=drop chain=input comment="defconf: drop all not coming from LAN" \
    in-interface-list=!LAN
add action=accept chain=forward comment="defconf: accept in ipsec policy" \
    ipsec-policy=in,ipsec
add action=accept chain=forward comment="defconf: accept out ipsec policy" \
    ipsec-policy=out,ipsec
add action=fasttrack-connection chain=forward comment="defconf: fasttrack" \
    connection-state=established,related hw-offload=yes
add action=accept chain=forward comment=\
    "defconf: accept established,related, untracked" connection-state=\
    established,related,untracked
add action=drop chain=forward comment="defconf: drop invalid" \
    connection-state=invalid
add action=drop chain=forward comment=\
    "defconf: drop all from WAN not DSTNATed" connection-nat-state=!dstnat \
    connection-state=new in-interface-list=WAN
/ip firewall mangle
add action=mark-routing chain=prerouting in-interface=vlan_vpn \
    new-routing-mark=vpn-route
/ip firewall nat
add action=masquerade chain=srcnat out-interface=wg-proton src-address=\
    192.168.40.0/24
add action=masquerade chain=srcnat comment="defconf: masquerade" \
    ipsec-policy=out,none out-interface-list=WAN
/ip hotspot profile
set [ find default=yes ] html-directory=hotspot
/ip route
add disabled=no distance=1 dst-address=0.0.0.0/0 gateway=wg-proton \
    routing-table=vpn-route suppress-hw-offload=no
add dst-address=212.8.250.216/32 gateway=213.110.128.1 routing-table=main
/ip traffic-flow
set enabled=yes interfaces=WAN
/ip traffic-flow target
add dst-address=192.168.30.10
/ipv6 firewall address-list
add address=::/128 comment="defconf: unspecified address" list=bad_ipv6
add address=::1/128 comment="defconf: lo" list=bad_ipv6
add address=fec0::/10 comment="defconf: site-local" list=bad_ipv6
add address=::ffff:0.0.0.0/96 comment="defconf: ipv4-mapped" list=bad_ipv6
add address=::/96 comment="defconf: ipv4 compat" list=bad_ipv6
add address=100::/64 comment="defconf: discard only " list=bad_ipv6
add address=2001:db8::/32 comment="defconf: documentation" list=bad_ipv6
add address=2001:10::/28 comment="defconf: ORCHID" list=bad_ipv6
add address=3ffe::/16 comment="defconf: 6bone" list=bad_ipv6
/ipv6 firewall filter
add action=accept chain=input comment=\
    "defconf: accept established,related,untracked" connection-state=\
    established,related,untracked
add action=drop chain=input comment="defconf: drop invalid" connection-state=\
    invalid
add action=accept chain=input comment="defconf: accept ICMPv6" protocol=\
    icmpv6
add action=accept chain=input comment="defconf: accept UDP traceroute" \
    dst-port=33434-33534 protocol=udp
add action=accept chain=input comment=\
    "defconf: accept DHCPv6-Client prefix delegation." dst-port=546 protocol=\
    udp src-address=fe80::/10
add action=accept chain=input comment="defconf: accept IKE" dst-port=500,4500 \
    protocol=udp
add action=accept chain=input comment="defconf: accept ipsec AH" protocol=\
    ipsec-ah
add action=accept chain=input comment="defconf: accept ipsec ESP" protocol=\
    ipsec-esp
add action=accept chain=input comment=\
    "defconf: accept all that matches ipsec policy" ipsec-policy=in,ipsec
add action=drop chain=input comment=\
    "defconf: drop everything else not coming from LAN" in-interface-list=\
    !LAN
add action=accept chain=forward comment=\
    "defconf: accept established,related,untracked" connection-state=\
    established,related,untracked
add action=drop chain=forward comment="defconf: drop invalid" \
    connection-state=invalid
add action=drop chain=forward comment=\
    "defconf: drop packets with bad src ipv6" src-address-list=bad_ipv6
add action=drop chain=forward comment=\
    "defconf: drop packets with bad dst ipv6" dst-address-list=bad_ipv6
add action=drop chain=forward comment="defconf: rfc4890 drop hop-limit=1" \
    hop-limit=equal:1 protocol=icmpv6
add action=accept chain=forward comment="defconf: accept ICMPv6" protocol=\
    icmpv6
add action=accept chain=forward comment="defconf: accept HIP" protocol=139
add action=accept chain=forward comment="defconf: accept IKE" dst-port=\
    500,4500 protocol=udp
add action=accept chain=forward comment="defconf: accept ipsec AH" protocol=\
    ipsec-ah
add action=accept chain=forward comment="defconf: accept ipsec ESP" protocol=\
    ipsec-esp
add action=accept chain=forward comment=\
    "defconf: accept all that matches ipsec policy" ipsec-policy=in,ipsec
add action=drop chain=forward comment=\
    "defconf: drop everything else not coming from LAN" in-interface-list=\
    !LAN
/system clock
set time-zone-name=Europe/Kiev
/system note
set show-at-login=no
/tool mac-server
set allowed-interface-list=LAN
/tool mac-server mac-winbox
set allowed-interface-list=LAN
